__pycache__/
*.py[cod]
.venv/
venv/

*.jpg
.DS_Store
.env
# Data & models
models/
*.pt
*.onnx
*.zip
yolov8n.pt
yolov8s.pt
overlay/
overlay_2/
overlay_3/
overlay_snapshots
overlay_snapshots_2/
overlay_snapshots_3/
